$color1: #b89e35;
$color2: #bdbdbd;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus {
  outline: none !important;
}

.overflow {
  overflow: hidden !important;
}

body,
html {
  scroll-behavior: smooth;
  width: 100%;
  background-color: white;
  font-family: "Tajawal", sans-serif;
  color: black;
  overflow-x: hidden;
  line-height: 1.2;
  font-size: 16px;
  font-weight: 400;
}

@font-face {
  font-family: "sstArabic";
  src: url("../fonts/SSTArabic-Bold.woff2") format("woff2"), url("../fonts/SSTArabic-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

p {
  margin: 0;
}

a {
  color: black;

  &:hover {
    color: rgb(26, 26, 26);
    text-decoration: none;
    transition: all 0.5s;
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
  margin: 0;
}

.container {
  position: relative;
  padding: 0;
  margin: 0 auto;
  max-width: 100%;

  @media (min-width: 768px) {
    width: 100%; 
  }

  @media (min-width: 992px){
    width: 100%;
  }

  @media (min-width: 1200px) {
    width: 1400px;
  }
}

.c2 {
  width: 1145px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;

  @media (max-width: 1200px) {
    padding: 0 15px;
  }

}

.row {
  margin: 0;

  & > div {
    padding: 0;
  }
}

//scrollbar
*::-webkit-scrollbar {
  width: 13px;
  background-color: #f5f5f5;
}

*::-webkit-scrollbar-thumb {
  border-radius: 0;
  box-shadow: inset 0 0 10px rgb(65, 65, 65);
  background: rgb(65, 65, 65);
}
